{% extends 'PingPongPlayerBundle::layout.html.twig' %}

{% block content %}
    <h2>Players</h2>
    <a href="{{ path('players_add') }}" class="btn" title="Add new player">Add new player</a>
    <table summary="list_of_players" class="table table-striped table-bordered">
        <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
        {% for player in playerList %}
            <tr>
                <td>
                    {% include 'PingPongPlayerBundle:Elements:player-avatar.html.twig' with {'player': player} %}
                </td>
                <td>
                    <a href="{{ url('players_edit', {'id': player.id}) }}" title="View">
                        {{ player.firstName }}
                            {% if player.nickname != '' %}
                                "{{ player.nickname }}"
                            {% endif %}
                        {{ player.lastName }}
                    </a>
                </td>
                <td>
                    <a href="{{ url('departments_view', {'id': player.department.id}) }}" title="View department">{{ player.department.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
