{% extends 'PingPongPlayerBundle::layout.html.twig' %}

{% block content %}
<div class="matches form">
    <h2>Add match</h2>
    <form action="{{ path('matches_add') }}" method="post">
        {{ form_row(form.matchType) }}

        {{ form_row(form.results) }}

        <div class="clearfix"><!-- blank --></div>

        {{ form_row(form.notes) }}
        {{ form_rest(form) }}

        <input type="submit" value="Save" class="btn">
    </form>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/pingpongmatches/js/matches_bundle.js') }}"></script>
{% endblock %}