<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/pingpongplayer/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/pingpongplayer/bootstrap/css/bootstrap-responsive.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/pingpongplayer/css/style.css') }}">
        {% endblock %}
        <meta charset="utf-8">
    </head>
    <body>
        <div class="container-fluid">
            <header class="row-fluid">
                <div class="span12">
                    <h1>Table Tennis Tracker</h1>
                    {% include "PingPongPlayerBundle:Elements:navigation.html.twig" %}
                </div>
            </header>
            <div class="row-fluid">
                <div class="span12">
                    <div class="content">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="alert alert-info">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            <footer class="row-fluid">
                <div class="span12">

                </div>
            </footer>
        </div>

        <div id="loading" style="display:none">
            Loading&hellip;
        </div>

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/pingpongplayer/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
